<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link   th:href="@{/css/styles.css}"
            href="/css/styles.css" rel="stylesheet" />
</head>
    <body>
    <div th:replace="/fragments/nav.html :: nav"></div>

        <!-- Product section-->
    <form action="item.html" th:if="${item.phoneColor != null}" th:action th:object="${item}" method="post">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" th:each="imageFile :*{imgFiles}"
                             th:src="|/img/${imageFile}|"  width="600" height="700"/></div>
                    <div class="col-md-6">
                        <div class="small mb-1" th:value="*{phoneColor}" th:text="'색상 : ' + *{phoneColor}">SKU: BST-498</div>
                        <div class="small mb-1" th:text="'남은수량 : ' + *{quantity}">SKU: BST-498</div>
                        <div class="small mb-1" th:text="'판매수량 : ' + *{salesQuantity}">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder" th:value="*{name}" th:text="*{name}">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span th:value="*{price}" th:text="*{price}+'₩'">$40.00</span>
                        </div>

                        <div class="d-flex">
                            <input type="number" name="count" class="form-control" id="count"
                                   placeholder="주문 수량을 입력하세요">
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:if="${check != null}" th:href="@{/item/update/{id}(id=${check})}">수정</a></div>
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:if="${check != null}" th:href="@{/item/delete/{id}(id=${check})}">삭제</a></div>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </form>

    <form action="item.html" th:if="${item.itemSize != null}" th:action th:object="${item}" method="post">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" th:each="imageFile :*{imgFiles}"
                             th:src="|/img/${imageFile}|"  width="600" height="700"/></div>
                    <div class="col-md-6">
                        <div class="small mb-1" th:field="*{id}"></div>
                        <div class="small mb-1" th:field="*{itemSize}" th:text="'SIZE : ' + *{itemSize}">SKU: BST-498</div>
                        <div class="small mb-1" th:text="'남은수량 : ' + *{quantity}">SKU: BST-498</div>
                        <div class="small mb-1" th:text="'판매수량 : ' + *{salesQuantity}">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder" th:field="*{name}" th:text="*{name}">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span th:field="*{price}" th:text="*{price}+'₩'">$40.00</span>
                        </div>

                        <div class="d-flex">
                            <input type="number" name="count" class="form-control" id="count"
                                   placeholder="주문 수량을 입력하세요">
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>

                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:if="${check != null}" th:href="@{/item/update/{id}(id=${check})}">수정</a></div>
                            </button>

                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:if="${check != null}" th:href="@{/item/delete/{id}(id=${check})}">삭제</a></div>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </form>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
